<!-- <ion-view view-title="Home">
        <ion-content class="padding">
          <p>
            <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Scientific Facts</a>
          </p>
        </ion-content>
      </ion-view>
 -->
    <ion-view view-title="Menu" ng-controller="BarcodeCtrl">
  <ion-content>

<br><br>
    <center>
       <!--  <div class="row" style="margin-top: 30px;">
          <div class="col">
            <h2>Add New</h2>
          </div>
        </div> -->

      <div class="row" style="margin-top: 10px;margin-bottom: 60px;">
        <div class="col">
                  <a style="text-decoration: none;" href="#/tab/studentdetails">

          <img style="width: 30%;" src="img/kids-couple.png"/>

          <h3>View Student Details</h3>
          </a>

        </div>
       <!--   <div class="col">
          <a style="text-decoration: none;" href="#/tab/addClient">
           <h3>Client</h3>

          </a>
        </div> -->
      </div>
      <div class="row">
        <div class="col">
        <a style="text-decoration: none;">
                  <img ng-click= "ins()" style="width: 30%;" src="img/repeat.png"/>

          

                     <h3 ng-click= "ins()">Give Instructor Feedback</h3>

          </a>
        </div>
       <!--   <div class="col">
        href="#/tab/instructorFeedback"
          <h3>Reports</h3>
        </div> -->
      </div>

      


      
    </center>
  </ion-content>
 
  <ion-tabs class="tabs-positive tabs-icon-top">

  <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
   </ion-tab>

  <ion-tab title="About" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline">
   </ion-tab>

  <ion-tab title="Settings" icon-on="ion-ios-people" icon-off="ion-ios-people-outline">
   </ion-tab>

   <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
   </ion-tab>

   <ion-tab title="Settings" icon-on="ion-ios-flask" icon-off="ion-ios-flask-outline">
   </ion-tab>


</ion-tabs>




</ion-view>
